@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cyan-500: #06b6d4;
  --blue-500: #3b82f6;
  --neutral-900: #08090a;
  --charcoal: #08090a;
  --amber-500: #d49f00;
  --yellow-500: #fcf88b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-charcoal: #08090a;
  --color-lightblack: #1c1c1c;
  --color-secondary: #e6e6e6;
  --color-muted: var(--neutral-200);
  --color-cyan-500: #06b6d4;
  --color-blue-500: #3b82f6;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-derek:
    0px 0px 0px 1px rgb(0 0 0 / 0.06), 0px 1px 1px -0.5px rgb(0 0 0 / 0.06),
    0px 3px 3px -1.5px rgb(0 0 0 / 0.06), 0px 6px 6px -3px rgb(0 0 0 / 0.06),
    0px 12px 12px -6px rgb(0 0 0 / 0.06), 0px 24px 24px -12px rgb(0 0 0 / 0.06);
  --shadow-aceternity:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --animate-move: move 5s linear infinite;
  --animate-spin-circle: spin-circle 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes spin-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}
